<div class="form-group">
    <label>Post</label>
    <textarea class="" id="" rows="10" [(ngModel)]="postData"></textarea>
    <hr>
    <button class="btn btn-primary" (click)="onAddPost()">Save Post</button>
</div>
    
<p>{{postData}}</p>